.footer{
    padding: 2rem 6rem;
    background-color: black;
    color: white;
}
.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top i{
    font-size: 2rem;
    color: white;
    margin-left: 1rem;
}
.top i:hover{
    color: #01959a;
}
.top div p{
    font-size: 1.2rem;
}
.top div h4{
    font-size: 2.2rem;
}
.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bottom div{
    display: flex;
    flex-direction: column;
}
.bottom h4{
    font-size: 1.3rem;
    padding: 1rem 0 0.8rem 0;
}
.bottom a{
    text-decoration: none;
    color: white;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
}
.footer_end{
    margin-top: 40px;
    margin-bottom: 0px;
}

@media screen and (max-width:850px) {
    .footer{
        padding: 4rem 2rem;
    }    
    .footer i{
        margin: 1rem 1rem 0 0;
    }
    .bottom div{
        width: 50%;
    }
}
